include LICENSE
include *.md
include .gitignore
include tox.ini
recursive-include awacs *.py
recursive-include examples *.py
recursive-include tests *.py

exclude Makefile
exclude mypy.ini
recursive-exclude scrape *
